In [ ]:
# Creating a set
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)
print(type(thisset))

{False, True, 'banana', 'apple', 'cherry'}
<class 'set'>

In [ ]:
# complex number
complex1 = complex(2, 3)
print(complex1)
print(type(complex1))

(2+3j)
<class 'complex'>

In [3]:
#list
animals = ["cat", "dog", "rabbit"]
print(animals)
print(type(animals))

['cat', 'dog', 'rabbit']
<class 'list'>

In [ ]:
# Creating a bytes object
b2 = bytes([72, 101, 108, 108, 111]) # ASCII values for 'hello'
print(b2)

b'Hello'

In [6]:
# Creating a dictionary
my_dict = {
    "name": "Alice",
    "age": 30,
    "city": "New York"
}
print(my_dict)
print(type(my_dict))

{'name': 'Alice', 'age': 30, 'city': 'New York'}
<class 'dict'>

In [1]:
for num in range(5):
    if num == 3:
        pass  # Placeholder
    print(num)

0
1
2
3
4

In [3]:
for i in range(3):
    print(i)
else:
    print("Loop completed successfully.")

0
1
2
Loop completed successfully.

In [4]:
for num in range(5):
    if num == 3:
        break
    print(num)

0
1
2