In [1]:
# Section A: Data Types & Basic Operations (1–10)
# Create a variable called name and assign it your name. Print it.
name = "Gilbert Korir"
print(f"My name is {name}")

My name is Gilbert Korir

In [2]:
# Create two integer variables and print their sum, difference, product, and division.
num1 = int(input("Enter first number: "))
num2 = int(input("Enter first number: "))

print(f"Sum: {num1+num2}, Difference: {abs(num1 - num2)}, Product: {num1*num2}, Division:{num1/num2}")

Enter first number: 23
Enter first number: 12
Sum: 35, Difference: 11, Product: 276, Division:1.9166666666666667

In [ ]:
# Write a program to swap two numbers without using a third variable.
# Ask user for input
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))

# Swap using arithmetic operations
a = a + b
b = a - b
a = a - b

print("First number:", a)
print("Second number:", b)

In [5]:
# Write a program that takes user input for age and prints “Adult” if age ≥ 18, otherwise “Minor”.
age = int(input("Enter age: "))
if age >= 18:
  print(f"Adult")
else:
  print(f"Minor")

Enter age: 4
Minor

In [6]:
# Given a string "programming", print the number of times the letter 'g' appears.
str1 = "programming"

count = 0
for ch in str1:
  if ch == 'g':
    count += 1

print(f"{str1} has 'g' {count} times")

programming has 'g' 2 times

In [7]:
# Write a program that converts a given string "100" to an integer and adds 25 to it.
str1 = "100"
new_num = int(str1)

result = new_num + 25
print("Result", result)

Result 125

In [10]:
# Write a program to find the largest number in the list [4, 9, 1, 7, 3].
num_list = [4, 9, 1, 7, 3]

#assume first number is large
largest = num_list[0]

for val in num_list:
     if val > largest:
      largest = val

print(f"Largest number is : {largest}")

Largest number is : 9

In [11]:
# Write a program to reverse the list [1, 2, 3, 4, 5].
num_list = [1, 2, 3, 4, 5]
num_list.reverse()
print("Reversed list:", num_list)

Reversed list: [5, 4, 3, 2, 1]

In [12]:
# Create a dictionary with keys name, age, and country, and print the value of age.
users = {
    "name":"John Bob",
    "Age": 27,
    "Country":"Israel"
}

print("John's Age is: ", users["Age"])

John's Age is:  27

In [13]:
# Write a program to convert a tuple (2, 4, 6, 8) into a list and print it.
tupple1 = (2, 4, 6, 8)
a_list = list(tupple1)
print(a_list)

[2, 4, 6, 8]

In [14]:
# Section B: Conditional Statements (11–18)
# Write a program to check whether a number entered by the user is even or odd.
number = int(input("Enter a number"))
if number % 2 ==0:
  print("Number is EVEN")
else:
  print("Number is ODD")

Enter a number5
Number is ODD

In [ ]:
# Write a program to check if a given number is positive, negative, or zero.
number = int(input("Enter number :"))
if number > 0:
    print(f"{number} is positive")
elif number == 0:
    print(f"{number} is zero")
elif number < 0:
    print(f"{number} is negative")

In [ ]:
# Write a program to check if a given year is a leap year.
year = int(input("Enter a year:"))
if(year % 4 ==0) and (year % 100 != 0):
  print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")

In [15]:
# Write a program that takes two numbers and prints which one is greater.
number1 = int(input("Enter number 1:"))
number2 = int(input("Enter number 2 :"))
if number1 > number2:
    print(f"{number1} is greater")
elif number1 == number2:
    print(f"{number1} is equal to {number2}")
elif number1 < number2:
    print(f"{number2} is greater")

Enter number 1:4
Enter number 2 :9
9 is greater

In [17]:
# Write a program that takes marks as input and prints “Pass” if marks ≥ 50, otherwise “Fail”.
marks = int(input("Enter marks :"))
if marks >= 50:
    Remark = "Pass"
else:
  Remark = "Fail"

print(f"This is a {Remark}")

Enter marks :45
This is a Fail

In [19]:
# Write a program that checks whether a character entered by the user is a vowel or consonant.
# Ask user for a character
ch = input("Enter a letter: ").lower()  # convert to lowercase

# Check if it's a vowel
if ch in ['a', 'e', 'i', 'o', 'u']:
    print("It is a vowel.")
elif ch.isalpha():  # check if it's a letter
    print("It is a consonant.")
else:
    print("Invalid input! Please enter a letter.")

Enter a letter: e
It is a vowel.

In [21]:

# Write a program that takes three numbers and prints the largest among them.
number1 = int(input("Enter number 1:"))
number2 = int(input("Enter number 2 :"))
number3 = int(input("Enter number 3 :"))
if (number1 > number2) and (number1 > number3):
    print(f"{number1} is greatest")
elif (number2 > number1) and (number2 > number3):
  print(f"{number2} is greatest")
elif (number3 > number1) and (number3 > number2):
  print(f"{number3} is greatest")
else:
  print("All numbers are equal")

Enter number 1:4
Enter number 2 :4
Enter number 3 :4
All numbers are equal

In [23]:
# Write a program that checks if a number is divisible by both 3 and 5.
number = int(input("Enter number:"))
if (number %3 == 0 and number % 5 ==0):
  print("True")
else:
  print("False")

Enter number:15
True

In [24]:
# Section C: Loops & Nested Loops (19–28)
# Write a program that prints numbers from 1 to 10 using a for loop.
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [25]:
# Write a program that prints all even numbers from 1 to 20.
for i in range(1,21):
  if i%2 == 0:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [31]:
# Write a program that calculates the sum of all numbers from 1 to 100 using a for loop.
total = 0

for i in range(1,101):
      total += i

print(f"The sum of numbers from 1 to 100 is: {total}")

The sum of numbers from 1 to 100 is: 5050

In [32]:
# Write a program that prints each letter of the word "PYTHON" on a new line
str = "PYTHON"

for ch in str:
  print(ch)

P
Y
T
H
O
N

In [36]:
# Write a program that counts how many numbers between 1 and 50 are divisible by 5.
count = 0
for i in range(1, 51):
  if i % 5 == 0:
    count += 1

print("Numbers divisible by 5 are : ", count)

Numbers divisible by 5 are :  10

In [37]:
# Write a program that prints all elements of a list using a while loop.
list1 = ["paul", "Ken", "John", "Alice"]
index = 0

while index < len(list1):
  print(list1[index])
  index += 1

paul
Ken
John
Alice

In [43]:
# Write a program that finds the factorial of a given number using a loop.
number = int(input("Enter a number : "))
factorial = 1

if number < 0:
    print("No factorial for a negative number")
elif number == 0:
    print("Factorial for 0 is 1")
else:
  for i in range(1, number + 1):
    factorial *= i

print(f"The factorial of {number} is {factorial}.")

Enter a number : 6
The factorial of 6 is 720.

In [44]:
# Write a program that prints all numbers between 1 and 30 that are divisible by both 2 and 3.
for i in range(1, 31):
  if (i % 2 == 0) and (i% 3 ==0):
    print(i)

6
12
18
24
30

In [46]:
# Write a program that prints the squares of all numbers from 1 to 10.
for i in range(1,11):
  i = i*i
  print(i)

1
4
9
16
25
36
49
64
81
100

In [47]:
# Write a program using nested loops to print all pairs (i, j) where i and j range from 1 to 3.
for i in range(1,4):
  for j in range(1,4):
    print(f"({i}, {j})")

(1, 1)
(1, 2)
(1, 3)
(2, 1)
(2, 2)
(2, 3)
(3, 1)
(3, 2)
(3, 3)

In [49]:
# Section D: Functions (29–36)
# Write a function called greet() that prints “Hello, World!”.
def greet():
  print("Hello World!")

greet()

Hello World!

In [50]:
# Write a function that takes a name as an argument and prints “Hello, !”.
def greetings(name):
    print(f"Hello, {name}!")

greetings("John")

Hello, John!

In [52]:
# Write a function that takes two numbers and returns their sum.
num1= int(input("Enter a number"))
num2= int(input("Enter another number"))
def add_numbers(num1, num2):
  """This function takes two numbers and returns their sum."""
  return num1 + num2

# Example usage:
result = add_numbers(num1, num2)
print(result) # Output: 8

Enter a number3
Enter another number5
8

In [53]:
# Write a function that returns the largest of three numbers.
def find_largest(num1, num2, num3):
  if num1 >= num2 and num1 >= num3:
    return num1
  elif num2 >= num1 and num2 >= num3:
    return num2
  else:
    return num3

# Example usage:
largest_number = find_largest(10, 5, 20)
print(f"The largest number is: {largest_number}")

The largest number is: 20

In [59]:
# Write a function that takes a list of numbers and returns the sum of all elements.
numbers = [2,5,3,1,67,4]

def sumOfElements(numbers):
  total = 0
  for i in numbers:
    total += i
  return total

print(f"The sum of elements is {sumOfElements(numbers)}")

The sum of elements is 82

In [67]:
# Write a function that checks if a given number is prime.
num = int(input("Enter a number"))
def checkNum(number):
  if num > 1:
    for i in range(2, num):
        if num % i == 0:
            print(f"{num} is NOT a prime number (divisible by {i}).")
            break
    else:
        print(f"{num} is a PRIME number (divisible only by 1 and itself).")
  else:
    print("Number must be greater than 1.")

checkNum(number)

Enter a number6
6 is NOT a prime number (divisible by 2).

In [74]:
# Write a function that takes a list of numbers and returns a new list with only even numbers.
list1 = [2,4,6,5,3,7,99,24,32,16,77,71]

def evenOnly(list1):
 even_numbers = []
 for number in list1:
    if number % 2 == 0:  # Check if the number is even
         even_numbers.append(number)
 return even_numbers

print("Even numbers are:", evenOnly(list1))

Even numbers are: [2, 4, 6, 24, 32, 16]

In [95]:
# Write a function that takes a string and returns the number of vowels in it
word = input("Enter a word or sentence: ")
def returnVowel(word):
  vowels = "aeiouAEIOU"
  vowel_count = 0
  for char in word:
        if char in vowels:
            vowel_count += 1
  return vowel_count

print("Number of vowels:", returnVowel(word))

Enter a word or sentence: care
Number of vowels: 2

In [98]:
# Section E: Classes & Objects (37–40)
# Create a class Person with attributes name and age, and a method introduce() that prints “My name is and I am years old.”
name = input("Enter your name")
age = int(input("Enter your age"))
class Person:
    def __init__(self, name, age):  # Constructor to initialize attributes
        self.name = name
        self.age = age

    def introduce(self):
        print(f"My name is {self.name} and I am {self.age} years old.")

#object of the class
person1 = Person(name, age)

# Call the method
person1.introduce()

Enter your namejob
Enter your age37
My name is job and I am 37 years old.

In [97]:
# Create a class Rectangle with attributes length and width, and a method area() that returns the area.
ln = int(input("Enter a length"))
wd = int(input("Enter a width"))
class Rectangle:
    def __init__(rect, length, width):  # Constructor to initialize attributes
        rect.length = length
        rect.width = width

    def area(rect):
        print(f"The area if a rectangle is {rect.length * rect.width}.")

Rectangle1 = Rectangle(ln, wd)
Rectangle1.area()

Enter a length3
Enter a width5
The area if a rectangle is 15.

In [100]:
# Create a class BankAccount with methods deposit(), withdraw(), and check_balance().
class BankAccounts:
    def __init__(self, owner, balance=0):
      self.owner = owner
      self.balance = balance

    def deposit(self, amount):
      self.balance += amount
      print(f"Deposited {amount}. New balance: {self.balance}")

    def withdraw(self, amount):
        if amount > self.balance:
            print("Insufficient funds!")
        else:
            self.balance -= amount
            print(f"Withdrew {amount}. New balance: {self.balance}")

    def check_balance(self):
        print(f"Current balance: {self.balance}")

account1 = BankAccounts("Gilbert", 1000000)

account1.check_balance()
account1.deposit(50000)
account1.withdraw(30000)
account1.withdraw(150000)

Current balance: 1000000
Deposited 50000. New balance: 1050000
Withdrew 30000. New balance: 1020000
Withdrew 150000. New balance: 870000

In [104]:
# Create a class Student with attributes name and marks, and a method grade() that prints “Pass” if marks ≥ 50, otherwise “Fail.”
name = input("Enter student name")
marks = int(input("Enter student marks"))
class Students:
    def __init__(self, name, marks):
      self.name = name
      self.marks = marks

    def grade(self):
      if self.marks >= 50:
        Remark = "Pass"
        print(f"{Remark}: You have passed")
      else:
        Remark = "Fail"
        print(f"{Remark}: You have Failed")

student1 = Students(name, marks)
student1.grade()

Enter student namegh
Enter student marks56
Pass: You have passed